<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Temp of {{item.text}} </h2>
  <h1>
    <b> {{temp}} °F</b>
  </h1>

</ion-content>